<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253716344596-vaj1vc6n18gv8mq0t7e3t1l4pfl7513c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253716344596-vaj1vc6n18gv8mq0t7e3t1l4pfl7513c</string>
	<key>API_KEY</key>
	<string>YOUR_API_KEY_HERE</string>
	<key>GCM_SENDER_ID</key>
	<string>253716344596</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendanceRegister</string>
	<key>PROJECT_ID</key>
	<string>attendance-marker-bfd87</string>
	<key>STORAGE_BUCKET</key>
	<string>attendance-marker-bfd87.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253716344596:ios:915397c9d5e7475d325c01</string>
</dict>
</plist>
